body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background: #F6FFE0;
	color: #000000;
}

h1 {
	text-align: center;
	font-weight: normal;
}

b {
	color: #BDD684;
}

hr {
	border: 0;
	border-bottom: 1px dashed #BDD684;
	margin-top: 20px;
	margin-bottom: 20px;
}

hr.post {
	border: 0;
	border-bottom: 1px dashed #F6FFE0;
	margin-top: 2px;
	margin-bottom: 5px;
}

a {
	color: #10222B;
}

a:hover {
	color: #E2F0D6;
}

#content {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

div.thread {
	background: #95AB63;
	min-width: 500px;
	margin-bottom: 15px;
	padding: 5px;
}

div.post {
	background: #BDD684;
	min-width: 500px;
	margin-bottom: 15px;
	padding: 5px;
}

div.nav {
	text-align: center;
}

div.top-nav {
	text-align: center;
	font-size: 11px;
	margin-bottom: 0px;
}

span.post-info {
	font-size: 13px;
}

span.more {
	float: right;
}

div.footer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size: 11px;
}